@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: "Roboto";
	background: #eee;
}

.container {
	max-width: 1024px;
	margin: 0px auto;
}

a {
	color: initial;
}