table {
  border-collapse: collapse;
}

table tbody {
	border-top: 3px solid #ccc;
	margin-top: 3px;
	background: white;
}

table td {
	padding: 10px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}

table tr.clickable td {
	padding: 0px;
}

table tr.clickable td > a {
	padding: 10px;
}

table td:nth-child(1) {
	border-left: 1px solid #eee;
}

table tbody tr.clickable:hover {
	outline: 2px solid #12A5F4;
}

table tbody td > a {
	display: block;
}

table .hidden {
	display: none;
}

/*table thead {
	font-weight: 500;
	border-top: 1px solid #ddd;
}

table thead td {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

table thead td:nth-child(1) {
	border-left: 1px solid #ddd;
}*/

table thead {
	background: #f4f4f4;
}