<!DOCTYPE html>
<html>
<head>
	<title>Events - Lets Row</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/header.css">
	<link rel="stylesheet" type="text/css" href="/static/css/second-menu.css">
	<link rel="stylesheet" type="text/css" href="/static/css/page-selector.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
			<div class="container">
			<h1> <span style="color: rgb(85, 150, 37);">Lets</span><span style="color: rgb(0, 84, 138);">Row</span>.ie </h1>
			<ul>
				<a href="/"><li> Home </li></a>
				<li class="selected"> Events </li>
			</ul>
		</div>
	</header>
	<main class="container">
		<ul class="second-menu">
			<li id="current_button" class="selected" onclick="current();"> Current <span>and upcoming </span>events</li>
			<li id="past_button" onclick="past();"> Past events </li>
			<style> @media screen and (max-width: 380px) {.second-menu li:nth-child(1) span {display: none;}} </style>
		</ul>
	</main>
	<iframe id="iframe" frameBorder="0" style="width: 100%; /*min-*/height: calc(100vh - 134px);"></iframe>
</body>
<script> var pastStartYear = <%=pastStartYear%>; </script>
<script src="/static/js/events.js"></script>
</html>