<!DOCTYPE html>
<html>
<head>
	<title>Lets Row</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/second-menu.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cards.css">
	<link rel="stylesheet" type="text/css" href="/static/css/page-selector.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin-bottom: 20px;">
	<header>
			<div class="container">
			<h1> <span style="color: rgb(85, 150, 37);">Lets</span><span style="color: rgb(0, 84, 138);">Row</span>.ie </h1>
			<ul>
				<li onclick="window.location='/'"> HOME </li>
				<li class="selected"> EVENTS </li>
			</ul>
		</div>
	</header>
	<main class="container">
		<ul class="second-menu">
			<li onclick="window.location='/events/current'" <%if (situation == "current"){%>class="selected"<%}%>> <span>Current and upcoming events</span><span style="display: none;">Current events</span> </li>
			<style> @media screen and (max-width: 380px) {.second-menu li:nth-child(1) span:nth-child(1) {display: none;} .second-menu li:nth-child(1) span:nth-child(2) {display: block !important;}} </style>
			<li onclick="window.location='/events/past/1'" <%if (situation == "past"   ){%>class="selected"<%}%>> Past events </li>
		</ul>
		<% if (page != -1) { %>
			<div class="events-year"><%= yr %></div>
			<% for (var event of events) { %>
				<% if (year(event.event_date) == yr) { %>
					<div class="card event-card">
						<div class="event-name">
							<h1> <%=event.name%> </h1>
							<h2> <%=event.venue%> </h2>
						</div>
						<div class="event-date">
							<h1> <%=dayMonth(event.event_date)%> </h1>
							<h2> <%=yr%> </h2>
						</div>
					</div>
				<% } %>
			<% } %>

			<br><br>
			<div class="page-selector">
				<div class="container">
					<% if (page > 1) { %><a href="/events/past/<%=page-1%>"><div class="left"> < <%= yr + 1 %> </div></a><% } %>
					<% if (page < page_count) { %><a href="/events/past/<%=page+1%>"><div class="right"> <%= yr - 1 %> > </div></a><% } %>
				</div>
			</div>
		<% } else { %>
			<% var last_yr = 0; %>
			<% for (var event of events) { %>
				<% yr = year(event.event_date) %>
				<% if (yr != last_yr) { %>
					<div class="events-year"><%= yr %></div>
				<% } %>
				<% last_yr = yr; %>
				<% if (year(event.event_date) == yr) { %>
					<div class="card event-card">
						<div class="event-name">
							<h1> <%=event.name%> </h1>
							<h2> <%=event.venue%> </h2>
						</div>
						<div class="event-date">
							<h1> <%=dayMonth(event.event_date)%> </h1>
							<h2> <%=yr%> </h2>
						</div>
					</div>
				<% } %>
			<% } %>
		<% } %>

	</main>
</body>
</html>