<!DOCTYPE html>
<html>
<head>
	<title>Lets Row</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<div class="container">
			<h1> <span style="color: rgb(85, 150, 37);">Lets</span><span style="color: rgb(0, 84, 138);">Row</span>.ie </h1>
			<ul>
				<li class="selected"> Home </li>
				<li onclick="window.location='/events/current'"> Events </li>
			</ul>
		</div>
	</header>
</body>
</html>